<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertErrorsToExceptions="true"
         bootstrap="./tests/bootstrap.php"
>
    <testsuites>
        <!--<testsuite name="Drivers Test Suite">-->
            <!--<directory>./tests/FireSessions/Drivers/</directory>-->
        <!--</testsuite>-->
        <testsuite name="Integration Tests Suite">
            <directory>./tests/Integration/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
        <blacklist>
            <file>./src/FireSessions/Session.php</file>
        </blacklist>
    </filter>
</phpunit>
